<main>
    <form action="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="username">Email: </label>
        <input type="email" name="email" id="email">
        <label for="username">Password: </label>
        <input type="password" name="password" id="password">
        <label for="username">Confirm password: </label>
        <input type="password" name="repeatPassword" id="reapeatPassword">
        <input type="submit" value="Submit">
    </form>
</main>